.card {
    --main-color: #000;
    --bg-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    padding: 20px;
    width: 320px;
    background: var(--bg-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__back svg, .card__menu svg {
    width: 20px;
    height: 20px;
}

.card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__img {
    width: 170px;
    height: 170px;
    background: linear-gradient(90deg, #FFF8F7, #F0F7DF);
    border-radius: 100%;
    margin-inline: auto;
}

.card__img svg {
    height: 150px;
    transform: rotate(-45deg) translate(15px, 0px);
}

.card__title {
    font-weight: 600;
    font-size: 25px;
    color: var(--main-color);
}

.card__subtitle {
    font-weight: 400;
    font-size: 15px;
    color: var(--main-color);
    letter-spacing: 0.5px;
}

.card__price {
    font-weight: 600;
    font-size: 22px;
    color: var(--main-color);
}

.card__counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 5px;
    background: #F7F7F7;
    border-radius: 50px;
}

.card__counter-score, .card__btn {
    font-weight: 700;
    font-size: 22px;
    color: var(--main-color);
}

.card__btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background: transparent;
}

.card__btn-plus {
    background: var(--bg-color);
}

/* Container */
.container {
    background: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Icons */
.football {
    width: 80px;
    height: auto;
}

svg {
    /*margin: 100px;*/
}

.football, svg:last-child {
    margin: 0;
}

svg.football {
    animation: spin-01 3000ms cubic-bezier(0.77, 0, 0.175, 1) infinite;
    transform-origin: center;
}


@keyframes spin-01 {
    0% {
        transform: rotate(0);
    }
    40% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.utensils, .plate {
    fill: white;
    transition: 0.5s ease-out transform;
    transform-origin: center center;
}

.food-bg {

    transition: 0.5s ease-out;
}

.food:hover .food-bg {
    fill: white;
    stroke: black;
    stroke-width: 8;
}

.food:hover .plate {
    fill: black;
}

.food:hover .utensils {
    fill: black;
    transform: scale(1.3);
    transform-origin: center center;
}


body {
    background: #131313;
}

.lines {
    fill: none;
    stroke: #4d4d4d;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.schaum {
    fill: #F15A24;
}

.outline {
    fill: none;
    stroke: #4d4d4d;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.beer {
    fill: #FF00FF;
}

.handle {
    fill: none;
    stroke: #4d4d4d;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

/*** Animation ***/
/* Outline */
.outline {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: outlinedash 6s linear infinite;
}

@keyframes outlinedash {
    5% {
        stroke-dashoffset: 1500;
    }
    45% {
        stroke-dashoffset: 0;
    }
    55% {
        stroke-dashoffset: 0;
    }
    95% {
        stroke-dashoffset: 1500;
    }
}

/* Handle */
.handle {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: handledash 6s linear infinite;
}

@keyframes handledash {
    10% {
        stroke-dashoffset: 300;
    }
    20% {
        stroke-dashoffset: 300;
    }
    23% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: 0;
    }
    77% {
        stroke-dashoffset: 0;
    }
    80% {
        stroke-dashoffset: 300;
    }
    90% {
        stroke-dashoffset: 300;
    }
}

/* Lines */
.lines {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: linedash 6s linear infinite;
}

@keyframes linedash {
    5% {
        stroke-dashoffset: 100;
    }
    10% {
        stroke-dashoffset: 0;
    }
    90% {
        stroke-dashoffset: 0;
    }
    95% {
        stroke-dashoffset: 100;
    }
}

/* Schaum */
.schaum {
    fill: #131313;
    animation: fillschaum 6s linear infinite;
}

@keyframes fillschaum {
    40% {
        fill: #131313;
    }
    45% {
        fill: #FFFFFF;
    }
    55% {
        fill: #FFFFFF;
    }
    60% {
        fill: #131313;
    }
}

/* Beer */
.beer {
    fill: #131313;
    animation: fillbeer 6s linear infinite;
}

@keyframes fillbeer {
    40% {
        fill: #131313;
    }
    45% {
        fill: #DEB712;
    }
    55% {
        fill: #DEB712;
    }
    60% {
        fill: #131313;
    }
}

.card {
    margin: 1px auto !important;
    /*border: 2px solid white;*/
}


@media (min-width: 800px) {
    .venueCard-container {
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 20px;

    }

}

@media (max-width: 799px) {
    .venueCard-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}

